@import "tailwindcss";
@import "./ace.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  h1 { @apply text-2xl font-bold; }
  h2 { @apply text-2xl font-bold; }
  h3 { @apply text-2xl font-bold; }
  h4 { @apply text-xl font-bold; }
  h5 { @apply text-lg font-bold; }
  h6 { @apply text-base font-bold; }
  p { @apply text-base; }
  a { @apply text-blue-500 dark:text-blue-300; }
}

html{
    font-family: "Helvetica Neue", "Helvetica", "Arial";
    @apply text-[15px] print:text-[12px];
}

@font-face {
  font-family: 'music';
  src: url('./abc2svg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.font-music {
    font-family: 'music';
}

.section-name {
    @apply border border-solid p-1 inline-block my-1 text-sm min-w-8 text-center;
}

.bar-note {
    @apply text-xs;
}

.bar-lyrics {
    @apply mt-0 text-xs;
}

.bar-and-annotations:last-child .bar:not(.repeat-end) .bar-border-right {
    @apply border-r border-solid;
}

.ch sub {
    @apply text-xs;
}
.ch .over{
    text-wrap: nowrap;
    position:relative;
    top:0.3rem;
    @apply text-xs;
}

.bt-svg {
    margin-top: 0.5rem;
}
.bt-svg svg{
    width: 100%;
    height: auto;
}

.bt-svg  svg:has(+ svg) {
    display: none;
}

.multiline-backtick svg{
    width: 100%;
    height: fit-content;
}

.double .bar-border-right {
  @apply relative border-r border-solid pr-4;
}

.double .bar-border-right::before {
  content: "";
  padding-right: 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3px; /* distance between the two borders */
  @apply border-r border-solid;
}

.annotation-diamond {
  text-align: center;
  position: relative;
  width: 2rem;
  height: 2rem;
  @apply border border-solid;
  transform: rotate(45deg);
  line-height: 2rem;
  margin-left: 0.2rem;
}

/* rotate text back inside the diamond */
.annotation-diamond span.annotation-container {
  top:auto;
  display: inline-block;
}

.annotation-diamond span.annotated-chord {
  top:auto;
  display: inline-block;
  transform: rotate(-45deg);
}

#resizer.editor-collapsed {
    @apply hidden;
}

.editor-collapsed #collapse-button {
    @apply transition-transform duration-200 rotate-180;
}

.editor-collapsed button:not(#collapse-button), .editor-collapsed .toggle {
    @apply hidden;
}

.tool-button {
    @apply border border-gray-700 dark:border-gray-300 px-0.5 rounded-md text-sm min-w-6 max-w-16;
}

#editor.editor-collapsed {
    @apply h-auto w-0;
}
.editor-collapsed #editor-contents{
    @apply w-0;
}

.toolbar-collapsed {
    @appy hidden;
}
