@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  h1 { @apply text-2xl font-bold; }
  h2 { @apply text-2xl font-bold; }
  h3 { @apply text-2xl font-bold; }
  h4 { @apply text-xl font-bold; }
  h5 { @apply text-lg font-bold; }
  h6 { @apply text-base font-bold; }
  p { @apply text-base; }
  a { @apply text-blue-500 dark:text-blue-300; }
}

html{
    font-size: 15px;
    font-family: "Helvetica Neue", "Helvetica", "Arial";
}

body {
    @apply m-8 print:m-0;
}

@font-face {
  font-family: 'music';
  src: url('./abc2svg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.font-music {
    font-family: 'music';
}

.section-name {
    @apply border border-solid p-1 inline-block my-1 text-sm min-w-8 text-center;
}

.bar-note {
    @apply mb-2 text-xs;
}

.bar-lyrics {
    @apply mt-0 text-xs;
}

.bar-and-annotations:last-child .bar:not(.repeat-end) {
    @apply border-r border-solid;
}

.ch sub {
    @apply text-xs;
}
.ch .over{
    text-wrap: nowrap;
    position:relative;
    top:0.3rem;
    @apply text-xs;
}

.bt-svg {
    margin-top: 0.5rem;
}

.repeat-end {
  @apply border-r-4 border-solid pr-[2px];
}

.repeat-end .repeat-end-symbol {
    @apply border-r flex items-center justify-center h-full pr-[2px];
}

.repeat-start {
  @apply border-l-4 border-solid pl-[2px];
}

.repeat-start .repeat-start-symbol{
    @apply border-l flex items-center justify-center h-full pl-[2px];
}

.double {
  @apply relative border-r border-solid pr-4;
}

.double::before {
  content: "";
  padding-right: 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3px; /* distance between the two borders */
  @apply border-r border-solid;
}

.annotation-diamond {
  text-align: center;
  position: relative;
  width: 2rem;
  height: 2rem;
  @apply border border-solid;
  transform: rotate(45deg);
  line-height: 2rem;
  margin-left: 0.2rem;
}

/* rotate text back inside the diamond */
.annotation-diamond span.annotation-container {
  top:auto;
  display: inline-block;
}

.annotation-diamond span.annotated-chord {
  top:auto;
  display: inline-block;
  transform: rotate(-45deg);
}

