{{ define "barsline" }}
<div class="barlines">
    {{- range .}}

    <div class="flex flex-col-reverse ">
        <div class="bar {{if eq .Type "Double"}}double{{end}} {{if .RepeatEnd }}repeat-end{{end}} {{if .RepeatStart}}repeat-start{{end}} ">
            {{- if eq .Backtick.Value ""}}
                {{- range .Chords}}
                    {{ $annotation := "" }}
                    {{ if eq .Annotation.Value "" }}
                        {{ $annotation = "" }}
                        <div class="ch"> <span>{{- .PrettyPrint}}</span> </div>
                    {{ else }}
                        {{ $annotation = (printf "%s-%s" "annotation" .Annotation.Value) }}
                        <div class="ch">
                        <div class="annotation {{ $annotation }}">
                            <span > {{- .PrettyPrint}} </span>
                        </div>
                        </div>
                    {{ end }}
                {{- end}}
            {{- else}}
                <span class="abcinline" style="" id="bt-{{- .Backtick.Id}}"></span>
            {{- end}}
        </div>

        <div class="comment">
            {{-  if .Comment }} {{- .Comment }}{{- end}}
        </div>
    </div>
    {{- end}}
</div>
{{end}}
