@import "tailwindcss";


@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
  h5 {
    @apply text-lg font-bold;
  }
  h6 {
    @apply text-base font-bold;
  }
  p {
    @apply text-base;
  }
  a {
      @apply text-blue-500;
  }
}

@font-face {
  font-family: 'Noto Music';
  src: url('./NotoMusic-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html{
    font-size: 15px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
    @apply m-8 print:m-0;
}

.bar {
    @apply min-w-20 h-8 mb-4;
    @apply border-l border-solid;
    @apply flex justify-between items-center;
}

.flex:last-child .bar:not(.repeat-end) {
    @apply border-r border-solid;
}

.ch {
    @apply px-2 h-6 grow;
}

.abcjs-chord {
    @apply text-2xl;
}
.abcjs-container svg {
  pointer-events: none;
  user-select: none;
}

.abcjs-note {
}

.abcinline {
    @apply min-w-30;
}
.repeat-start {
  position: relative;
  @apply border-l-4 border-solid pl-2;
}

.repeat-start::before {
  content: ":";
  padding-top: 0.2rem;
  padding-left: 0.11rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 3px; /* distance between the two borders */
  @apply border-l;
  border-left: 1px solid currentColor; /* or a specific color */
  pointer-events: none;
}

.repeat-end {
  position: relative;
  @apply border-r-4 pr-2;
}

.repeat-end::before {
  content: ":";
  padding-top: 0.2rem;
  padding-right: 0.1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3px; /* distance between the two borders */
  border-right: 1px solid currentColor; /* or a specific color */
  pointer-events: none;
}

.double {
  position: relative;
  @apply border-r border-solid pr-4;
  border-right: 2px solid currentColor !important; /* or a specific color */
}

.double::before {
  content: "";
  padding-top: 0.2rem;
  padding-right: 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3px; /* distance between the two borders */
  border-right: 1px solid currentColor; /* or a specific color */
  pointer-events: none;
}


/* .annotation-diamond { */
/*   position: relative; */
/*   height: 3rem; */
/*   width: 3rem; */
/*   line-height: 3rem; */
/*   text-align: center; */
/*   /* margin: 00px 40px; */
/*   top: -1rem; */
/* } */
/* .annotation-diamond:after { */
/*   position: absolute; */
/*   top: 1rem; */
/*   left: 1rem; */
/*   content: '&#9671;'; */
/*   height: calc(100% - 1rem);  /* -22px is 2 * 10px gap on either side - 2px border on either side */
/*   width: calc(100% - 1rem);  /* -22px is 2 * 10px gap on either side - 2px border on either side */
/*   @apply border border-solid; */
/*   transform: rotateX(45deg) rotateZ(45deg); */
/* } */

.comment {
    @apply mb-2 text-xs;
}

.annotation span::before {
    font-size: 0.8rem;
}
.annotation span {
    position:relative;
    top: -1.2rem;
    @apply flex flex-col;
}

.annotation-choke span::before{
    content: "^";
    font-size: 1.2rem;
}

.annotation-choke span::before{
    content: "^";
    font-size: 1.2rem;
}

.annotation-choke span {
    position:relative;
    top: -0.9rem;
    line-height: 1.1rem;
    @apply flex flex-col;
}

.annotation-marcato span::before{
    content: "^";
    font-size: 1.2rem;
}

.annotation-marcato span::before{
    content: "^";
    font-size: 1.2rem;
}

.annotation-marcato span {
    position:relative;
    top: -0.9rem;
    line-height: 1.1rem;
    @apply flex flex-col;
}


.annotation-push span::before{
    content: "❮";
}

.annotation-fermata span::before{
    content: "𝄐";
    font-size: 1.4rem;
}
.annotation-fermata span{
    top: -1.2rem;
    line-height: 1.3rem;
    position: relative;
}

.annotation-pull span::before{
    content: "❯";
}

.annotation-diamond {
  text-align: center;
  position: relative;
  top: -0.25rem;
  width: 2rem;
  height: 2rem;
  @apply border border-solid;
  transform: rotate(45deg);
  line-height: 2rem;
}

/* rotate text back inside the diamond */
.annotation-diamond span {
  top:auto;
  display: inline-block;
  transform: rotate(-45deg);
}

.section-name {
    @apply border border-solid p-1 inline-block my-1 text-xs min-w-8 text-center;
}
.barlines {
    @apply flex flex-row my-1 ml-4;
}


.music{
  font-family: 'Noto Music', sans-serif;
  font-size: 2rem;
}

