@import "tailwindcss";


@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
  h5 {
    @apply text-lg font-bold;
  }
  h6 {
    @apply text-base font-bold;
  }
  p {
    @apply text-base;
  }
}

html{
    font-size: 15px;
}

body {
    @apply min-w-250 px-10 mx-auto mt-4;
}

.bar {
    @apply min-w-20 h-8 mb-4;
    @apply border-l border-solid;
    @apply flex justify-between items-center;
}


.ch {
    @apply px-2 h-6 grow;
}

.repeat-start {
  position: relative;
  @apply border-l-3 border-solid pl-8;
}

.repeat-start::before {
  content: ":";
  padding-top: 0.2rem;
  padding-left: 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 6px; /* distance between the two borders */
  border-left: 1px solid currentColor; /* or a specific color */
  pointer-events: none;
}

.repeat-end {
  position: relative;
  @apply border-r border-solid pr-4;
}

.repeat-end::before {
  content: ":";
  padding-top: 0.2rem;
  padding-right: 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px; /* distance between the two borders */
  border-right: 1px solid currentColor; /* or a specific color */
  pointer-events: none;
}

.double {
  position: relative;
  @apply border-r border-solid pr-4;
}

.double::before {
  content: "";
  padding-top: 0.2rem;
  padding-right: 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px; /* distance between the two borders */
  border-right: 1px solid currentColor; /* or a specific color */
  pointer-events: none;
}


.diamond {
  position: relative;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  /* margin: 00px 40px; */
  top: -20px;
}
.diamond:after {
  position: absolute;
  top: 10px;
  left: 10px;
  content: '';
  height: calc(100% - 22px);  /* -22px is 2 * 10px gap on either side - 2px border on either side */
  width: calc(100% - 22px);  /* -22px is 2 * 10px gap on either side - 2px border on either side */
  @apply border border-solid;
  transform: rotateX(45deg) rotateZ(45deg);
}

.section-name {
    @apply border border-solid p-2 inline-block my-1;
}
.barlines {
    @apply ml-4 flex flex-row my-1;
}


.music{
  font-family: 'Noto Music', sans-serif;
  font-size: 2rem;
}

@font-face {
  font-family: 'Noto Music';
  src: url('/NotoMusic-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
