
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>{{- index .Song.FrontMatter "title"}}</title>
    <link href="./compiled.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/abcjs@6.1.0/dist/abcjs-basic-min.js"></script>
</head>
<body>
{{ template "header" .Song }}
{{ template "body" .Song }}


{{- if .Dev }}
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
{{- end }}

{{- range .Song.Backticks }}
    <script>
        ABCJS.renderAbc("bt-{{- .Id}}", `
            X:1
            M:none
            L:1/16
            K:none cleff=none stafflines=0
            {{ .Value}}
        `, {
                //responsive: "resize", // allow SVG to size naturally
                wrap: false,           // prevent wrapping to a new line
                staffwidth: 180,
                responsive: "resize",
                jazzchords: true,
                add_classes: true,
        });
    </script>
{{- end}}

</body>
</html>
