{{ define "barsline" }}
<div class="barlines">
    {{- if not (eq "" .MultilineBacktick.Value) }}
    <div class="multiline-backtick w-130">
        {{.MultilineBacktick.Svg}}
    </div>
    {{- else}}
        {{- range .Bars}}
        <div class="flex flex-col-reverse ">
            <div class="bar {{if eq .Type "Double"}}double{{end}} {{if .RepeatEnd }}repeat-end{{end}} {{if .RepeatStart}}repeat-start{{end}} ">
                {{- if eq .Backtick.Value ""}}
                    {{- range .Chords}}
                        {{ $annotation := "" }}
                        {{ if eq .Annotation.Value "" }}
                            {{ $annotation = "" }}
                            <div class="ch"> <span>{{- .PrettyPrintHTML}}</span> </div>
                        {{ else }}
                            {{ $annotation = (printf "%s-%s" "annotation" .Annotation.Value) }}
                            <div class="ch">
                            <div class="annotation {{ $annotation }}">
                                <span class="annotation-container"><span class="annotated-chord">{{- .PrettyPrintHTML}}</span></span>
                            </div>
                            </div>
                        {{ end }}
                    {{- end}}
                {{- else}}
                    <div class="bt-svg" style="width:150px">
                    {{.Backtick.Svg }}
                    </div>
                {{- end}}
            </div>

            <div class="bar-note">
                {{-  if .BarNote }} {{- .BarNote }}{{- end}}
            </div>
        </div>
        {{- end}}
    {{- end}}
</div>
{{end}}
