{{ define "barsline" }}
    <div class="barlines flex flex-row items-center ml-4">
    {{- if not (eq "" .MultilineBacktick.Value) }}
    <div class="multiline-backtick w-130">
        {{.MultilineBacktick.Svg}}
    </div>
    {{- else}}
        {{- range .Bars}}
        <div class="bar-and-annotations flex flex-col">
            {{$mb := ""}}
            {{ if gt (len .Chords) 0 }}
            {{if eq (index .Chords 0).Annotation.Value "diamond-fermata"}}
                {{$mb = "relative top-[-0.75rem]"}}
            {{end}}
            {{end}}
            <div class="bar-note text-xs relative flex flex-row gap-1 items-end {{if not .RepeatStart}}left-[-0.25rem]{{end}} {{if .PreviousWasRepeatEnd}}left-[-0.46rem]{{end}}">
                <span class="ml-4">{{-  if .BarNote }}{{- .BarNote }}{{- end}}<span class="opacity-0">.</span></span>
            </div>
            <div class="bar min-w-20 flex justify-items-start items-center {{if .DoubleBarEnd}}double{{end}} {{if .RepeatStart}}repeat-start{{end}} {{if .RepeatEnd}}repeat-end{{end}} ">
                <div class="bar-border-left w-0 h-10 border-solid border-l {{if .RepeatStart}}border-l-4{{end}} relative">
                    <span class="absolute top-[-0.7rem] left-[-0.3rem] relative block w-[0.5rem] text-xs text-center text-[0.5rem] opacity-70 print:opacity-100">{{.Number}} </span>
                </div>
                {{if .RepeatStart }}
                    <div class="repeat-start-symbol h-10 border-l border-solid ml-0.5 pr-0.5"></div>
                    <div>:</div>
                {{end}}



                <div class="mx-2 flex flex-row flex-grow gap-2 justify-between items-center">
                {{- if eq .Backtick.Value ""}}
                    {{- range .Chords}}
                        {{- template "chord" .}}
                    {{- end}}
                {{- else}}
                    <div class="bt-svg" style="width:150px">
                    {{.Backtick.Svg }}
                    </div>
                {{- end}}
                </div>

                {{if .RepeatEnd }}
                    <div class="">:</div>
                    <div class="repeat-end-symbol h-10 border-r border-solid mr-0.5 pr-0.5"></div>
                {{end}}
                <div class="bar-border-right h-10 {{if .RepeatEnd}}border-solid border-r-4{{end}}"></div>
            </div>

            <div class="bar-lyrics">
                {{if .Lyrics}}{{.Lyrics}}{{end}}
                <span class="opacity-0">.</span>
            </div>
        </div>
        {{- end}}
    {{- end}}
</div>
{{end}}
