{{ define "barsline" }}
<div class="barlines">
    {{- if not (eq "" .MultilineBacktick.Value) }}
    <div class="multiline-backtick w-130">
        {{.MultilineBacktick.Svg}}
    </div>
    {{- else}}
        {{- range .Bars}}
        <div class="flex flex-col-reverse ">
            <div class="bar-lyrics">
                {{if .Lyrics}}{{.Lyrics}}{{end}}
            </div>
            <div class="bar {{if .DoubleBarEnd}}double{{end}} {{if .RepeatStart}}repeat-start{{end}} {{if .RepeatEnd}}repeat-end{{end}} ">
                {{if .RepeatStart }}
                    <div class="repeat-start-symbol ">:</div>
                {{end}}
                <div class="mx-2 flex flex-row flex-grow gap-2 justify-between">
                {{- if eq .Backtick.Value ""}}
                    {{- range .Chords}}
                        <div class="flex flex-col items-start gap-0">
                                {{$opacity := "opacity-0"}}
                                {{$symbol := "."}}
                                {{ if not (eq .Annotation.Symbol "") }}
                                    {{$opacity = ""}}
                                    {{$symbol = .Annotation.Symbol}}
                                {{else}}
                                {{end}}
                                {{if eq .Annotation.Value "diamond" }}
                                <div class="ch">
                                    <div class="annotation annotation-diamond">
                                        <span class="annotation-container"><span class="annotated-chord">{{- .PrettyPrintHTML}}</span></span>
                                    </div>
                                </div>

                                {{else}}
                                <div class="annotation-symbol text-sm mt-4 leading-none {{$opacity}}">{{$symbol}}</div>
                                <div class="ch leading-none">{{- .PrettyPrintHTML}}</div>
                                <div class="annotation-symbol text-sm mb-4 leading-none opacity-0">.</div>
                                {{end}}
                        </div>
                    {{- end}}
                {{- else}}
                    <div class="bt-svg" style="width:150px">
                    {{.Backtick.Svg }}
                    </div>
                {{- end}}
                </div>

                {{if .RepeatEnd }}
                    <div class="repeat-end-symbol">:</div>
                {{end}}
            </div>
            <div class="bar-note relative flex flex-row gap-1 items-end {{if not .RepeatStart}}left-[-0.25rem]{{end}} {{if .PreviousWasRepeatEnd}}left-[-0.46rem]{{end}}">
                <span class="relative block top-[0.55rem] w-[0.5rem] text-xs text-center text-[0.5rem] opacity-70">{{.Number}} </span>{{-  if .BarNote }}<span> {{- .BarNote }}</span>{{- end}}
            </div>
        </div>
        {{- end}}
    {{- end}}
</div>
{{end}}
