{{define "diamond"}}

{{$opacity := "opacity-0"}}
{{$symbol := "."}}
{{ if not (eq .Annotation.Symbol "") }}
    {{$opacity = ""}}
    {{$symbol = .Annotation.Symbol}}
{{end}}
<div class="relative min-w-10 min-h-23 mx-1">
    <div class="annotation-symbol text-xl mb-0 leading-none text-center {{$opacity}}">{{$symbol}}</div>
    <div class="ch leading-none relative mt-5">
        <div class="text-center absolute min-w-10">{{.PrettyPrintHTML}}</div>
        <div class="min-w-10"></div>
        <div class="absolute border dark:border-white print:border-gray-900 border-gray-900 min-w-10 min-h-10 rotate-45 inline-block top-[-13px] print:top-[-10px]"></div>
    </div>
    <div class="annotation-symbol text-sm mb-4 leading-none opacity-0">.</div>
</div>
{{end}}
