{{ define "header" }}
<div class="@3xl:text-center print:text-left mb-8">
    <h1>{{- index .FrontMatter "title"}}</h1>
    <p>{{- index .FrontMatter "subtitle"}}</p>
    <div class="flex flex-row gap-4 @3xl:justify-center print:justify-start">
        {{- with (index .Key)}}
            <p><span style="font-family: 'music'; position:relative; top:-2px" class="text-xs mr-1"></span>{{.}}</p>
        {{end}}
        {{- with (index .FrontMatter "tempo")}}
        <p><span style="font-family: 'music'; position:relative; top:-1px"></span> = {{.}}</p>
        {{end}}
    </div>

    <ul class="flex flex-row gap-4 @3xl:justify-center print:hidden">
        <li> <p> <a href="/">[index]</a> </p> </li>
        <li> <p> <a href="#" onclick="toggleDarkMode()">[darkmode]</a> </p> </li>
        <li> <p> <a href="#" onclick="copySheetCode()">[copy-code]</a> </p> </li>
    </ul class="flex flex-row">
</div>
{{ end }}
